body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.meta-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
    text-align: left;
}

.meta-container > tr, th, td {
    padding: 2px 10px;
}
