<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="style.css">

    {% for js in layout.include-js %}
    <script type="text/javascript" src="{{js}}"></script>{% endfor %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    function jsonp(url, callback) {
      const callbackName = 'jsonp_callback_' + Math.round(100000 * Math.random());
      window[callbackName] = function(data) {
        delete window[callbackName];
        document.body.removeChild(script);
        callback(data);
      };

      const script = document.createElement('script');
      script.src = url + (url.indexOf('?') >= 0 ? '&' : '?') + 'callback=' + callbackName;
      document.body.appendChild(script);
    }

    function jsonpPage(page, callback) {
      const user = new URLSearchParams(window.location.search).get('user');
      const url = '{{site.stocks.api_url}}?page=' + page + (user ? '&user=' + user : '');
      jsonp(url, ({data, user, allUsers}) => {
        setUser(user, allUsers);
        callback(data);
      });
    }

    function capitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
    }

    function setUser(user, allUsers) {
      const navbar = document.getElementById("navbar");
      for (let i = 0; i < navbar.children.length; i++) {
        const elem = navbar.children[i];
        const link = elem.children[0];
        if (elem.classList.contains("page")) {
          link.setAttribute("href", link.getAttribute("href") + window.location.search);
        }
      }

      for (const aUser of allUsers.reverse()) {
        const li = document.createElement('li');
        li.classList.add('user')
        if (aUser.toLowerCase() === user.toLowerCase()) li.classList.add('active');
        li.innerHTML = '<a href="?user=' + aUser + '">' + capitalize(aUser) + '</a>';
        navbar.appendChild(li);
      }
    }
    </script>
  </head>
  <body>
    <div id="container">
      <ul id="navbar">
      {% assign sorted_pages = site.pages | sort: 'title' | reverse %}
      {% for node in sorted_pages %}
        {% if node.path contains 'stocks/' %}
        <li class="page{% if page.url == node.url %} active{% endif %}"><a href="{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
      
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

